.Footer {
    .Wrapper {
        .Content {
            padding: 50px 0px;
            display: grid;
            grid-template-columns: 180px 1fr 260px;
            /* Brand | Links | Subscribe */
            grid-column-gap: 60px;

            h5 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .Logo {
                line-height: 1;
                transition: opacity 0.1s ease;
                display: flex;
                /* use flex so logo and text sit inline */
                align-items: center;
                gap: 6px;
                height: auto;
                /* ensure visible */
                grid-column-gap: 5px;

                &:hover {
                    opacity: 0.8;
                }

                span {
                    font-size: 26px;
                    font-weight: 300;
                    color: white;
                }
            }

            /* Brand column: logo on top, extras (social) directly beneath, horizontal */
            .Brand {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: flex-start;
            }

            .BrandSocial {
                display: flex;
                /* horizontal row */
                flex-direction: row;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-start;
                margin-top: 4px;
            }

            .BrandSocial a {
                width: 32px;
                height: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 9999px;
            }

            .Actions {
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-column-gap: 80px;

                li {
                    div {
                        display: grid;
                        grid-row-gap: 10px;

                        a {
                            font-size: 14px;
                            font-weight: 400;
                            transition: all 0.2s ease;

                            &:hover {
                                transform: translate(2px, 0px);
                            }
                        }
                    }
                }

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            .Subscribe {
                form {
                    position: relative;

                    button {
                        width: 100%;
                        padding: 5px 0px;
                        border-radius: 8px;
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }

                p {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .Social {
                    display: grid;
                    grid-template-columns: repeat(6, auto);
                    justify-content: start;
                    grid-column-gap: 10px;
                    margin-top: 5px;

                    a {
                        width: 30px;
                        height: 25px;
                        position: relative;
                        border-radius: 50%;

                        &:nth-of-type(1) {
                            background-color: #111827;

                            svg {
                                color: white;
                            }
                        }

                        &:nth-of-type(2) {
                            background-color: #111827;

                            svg {
                                color: white;
                            }
                        }

                        &:nth-of-type(3) {
                            background-color: #111827;

                            svg {
                                color: white;
                            }
                        }

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }

    .Copyright {
        text-align: center;
        padding: 8px 0px;

        div {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .Footer {
        .Wrapper {
            .Content {
                grid-template-columns: 1fr;
                grid-row-gap: 30px;

                .Logo {
                    height: auto;
                }

                .Actions {
                    gap: 30px;
                    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                }

                .Brand {
                    align-items: center;
                    text-align: center;
                }

                .BrandSocial {
                    justify-content: center;
                }
            }
        }
    }
}